body {
  /* border: 1px solid red; */
  box-sizing: border-box;
  /* Fallback for browsers that do not support Custom Properties  */
  /* height: calc(var(--vh, 1vh) * 100); */
  height: 100vh;
  min-height: 100vh;
  margin: 0 auto;
  width: "100%";

  margin: 0;
  padding: 0;
  overflow: auto;
  /* height: 100%; */
  margin: 0;
  /* background-color: rgb(14, 20, 33); */

  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media only screen and (max-width: 768px) {
  body {
    box-sizing: border-box;

    background-color: rgb(14, 20, 33);
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    width: "100%";

    overflow: auto;
    
    background: linear-gradient(
      180deg,
      rgba(207, 207, 207, 0.1) 5%,
      rgba(14, 20, 33, 1) 60%
    );

    box-sizing: border-box;
    background-position: center;

    min-width: 100%;

    margin: 0 auto;
    padding: 0;
    overflow: auto;
    position: relative;
    background-image: linear-gradient(
        180deg,
        rgba(207, 207, 207, 0) 0%,
        rgba(14, 20, 33, 1) 67%
      ),
      url("./Components/emeka-n.png");

    background-size: cover;

    background: contain;
    background-repeat: no-repeat;
  }
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 18px;
}
::-webkit-scrollbar-track {
  background-color: white;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 30px;
  border: 5px solid transparent;
  background-clip: content-box;
  box-shadow: inset 0px, 10px 0px, 10px, rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: black;
  box-shadow: inset 0px, 10px, 0px 10px, rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
